temp.ipynb
temp.txt

.env
.venv/
__pycache__/
*.pyc

dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/.vscode/
dbt/package-lock.yml
dbt/.user.yml
logs/

airflow/logs/
ariflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py

extract/checkpoints/*.json
!extract/checkpoints/.gitkeep

hoop_analytics.dump

airflow/.DS_Store
dbt/.DS_Store
.DS_Store
extract/.DS_Store